@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root:not([data-them=dark]){
    --primary: #ef8535;
    --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    --primary-hover: #9b521a;
}


body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0)50%, #010f21), url('https://images.unsplash.com/photo-1581610186406-5f6e9f9edbc1?auto=format&fit=crop&q=80&w=1740&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.bg-pr{
    background-color: #010f21b9;
}
.bg-white{
    background-color: rgba(255, 255, 255, 0.299);
}

main .container-fluid{
    padding: 40px 0;
}


article.gmp{
    backdrop-filter: blur(17px) saturate(112%);
    -webkit-backdrop-filter: blur(17px) saturate(112%);
    background-color: rgba(3, 3, 3, 0.54);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding: 20px;
}

header h1{
    font-size: 300%;
    color: white;
}

.twhite{
    color: rgb(220, 220, 220);
}
.tcenter{
    text-align: center;
}

img.profile{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    padding: 15px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.profile-card{
    text-align: center;
    margin: 30px 0 30px 0;
}

.project-listing{
    margin: 30px 0 30px 0;
    padding: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 12px;
    text-align: left;
}
.project-listing h4{
    color: white;
    margin-bottom: 10px;
}


article.proj{
    padding: 10px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

details{
    transition: all 0.3s ease;
    cursor: pointer;
}

details.about{
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
}
details[open] {
    background-color: rgba(3, 3, 3, 0.54);
    border: 1px solid rgba(209, 213, 219, 0.3);

}
details.about p{
    font-size: 100%;
    color: white;
}

header .grid{
    align-items: center;
    justify-content: space-between;
}


header .grid a{
    /* button glow effect */
    box-shadow: 0 0 10px 0 var(--primary) !important;
    margin: 10px;
    animation: glow 1s ease-in-out infinite;

}
@keyframes glow {
    0% {
        box-shadow: 0 0 10px 0 var(--primary) !important;
    }
    50% {
        box-shadow: 0 0 40px 0 var(--primary) !important;
    }
    100% {
        box-shadow: 0 0 10px 0 var(--primary) !important;
    }
}
